
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(41, 41, 41);
}
.container{
  margin: auto;
   max-width: 1200px;
}


.cardWrap{
  margin-top: 150px;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 40px;
}
.login{
  margin: 150px auto;
  padding: 25px;
  max-width: 500px;
  background: #e3e3e3;
  border: 2px solid #585858;
  border-radius: 29px;
  box-shadow: 3px 13px 9px;
  
} 
.login:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
