
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(41, 41, 41);
}
.container{
  margin: auto;
   max-width: 1200px;
}


.cardWrap{
  margin-top: 150px;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 40px;
}